
main > .container {
    padding: 60px 15px 0;
}

.text-pre-inline {
    white-space: pre-line;
    font-size: 1.1rem;
}

hr {
    border: 1px solid deeppink;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    font-size: .91rem;
}
